# Ignore legacy pickle model files
*.pkl
.venv
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg
*.egg-info/
dist/
build/
*.log

*.pkl
*.eqx
.DS_Store
.coverage
*.pt
*.csv

!src/prxteinmpnn/physics/force_fields/*.eqx